.detail-picture-section {
  background-image: url("../assets/Background-gold.png");
  min-width: 50%;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
}
.detail-chart .chart-line-dark:last-child {
  background-color: #efa32c;
}
.detail-chart .chart-line-blue:last-child {
  background-color: #014aac;
}
.sidebar-data-div:last-child {
  border-bottom: none;
}
