/* General Layout */
.first-row {
  padding: 10px 20px;
  background-color: #1e1e1e;
  color: #ffffff;
  border-radius: 20px;
}
.first-row-blue {
  padding: 10px 20px;
  background-color: #1e1e1e9d;
  color: #ffffff;
  border-radius: 20px;
}

/* Card Styling */
.card {
  background-color: #2b2b2b;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

/* Remove shadows, padding, and margin */
.no-shadow {
  box-shadow: none !important;
}

.no-padding {
  padding: 0 !important;
}

.no-margin {
  margin: 0 !important;
}

/* Section Title */
.section-title {
  font-family: "Quicksand", serif !important;
  font-size: 1.3rem !important;
  font-weight: 600 !important;
  margin-bottom: 0 !important;
}

/* Saved Commodities Section */
.commodities-section .commodities-item {
  font-family: "Quicksand", serif !important;
}
.commodities-section .commodities-item-container {
  border-bottom: 1px solid #56577a;
}
.commodities-section .commodities-item-container2 {
  border-bottom: 1px solid #56577a;
}
.commodities-section .commodities-item-container:last-child {
  border-bottom: none;
}
.commodities-section .commodities-item:hover {
  background-color: #f9a71a47;
}
.commodities-section .commodities-item.selected {
  background-color: #f9a71a47;
}
.commodities-section .commodities-item:last-child {
  border-bottom: none;
}
.commodities-section .commodities-item-blue {
  font-family: "Quicksand", serif !important;
  border-bottom: 1px solid #56577a;
}
.commodities-section .commodities-item-blue:hover {
  background-color: #014baca6;
}
.commodities-section .commodities-item-blue.selected {
  background-color: #014baca6;
}
.commodities-section .commodities-item-blue:last-child {
  border-bottom: none;
}

.css-1txyin7-MuiLinearProgress-root {
  width: 90%;
}

.commodity-image {
  width: 40px;
  height: 40px;
  border-radius: 0.5rem;
}

.commodity-info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.commodity-name {
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 5px;
}

.commodity-progress {
  width: 70%;
  height: 3px !important;
  background-color: #2d2e5f !important;
  border-radius: 5px;
  margin-top: 5px;
}

.commodity-score {
  font-size: 16px;
  font-weight: bold;
  color: white;
  margin-left: 15px;
}

/* Trend Over Last Year Section */

.section-title {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
}

/* Last Price Drivers Section */
.last-price-drivers .price-drivers-list {
  margin-top: 15px;
  overflow-y: auto;
  padding-right: 5px;
}

.price-driver-item {
  padding-bottom: 0.1rem;
  margin-bottom: 0.2rem;
}

.driver-title {
  font-size: 14px;
  color: #ffffff;
  margin-bottom: 5px;
}

.driver-description {
  font-size: 13px;
  color: #a0aec0;
  line-height: 1.5;
}

.card-styling {
  background-color: unset !important;
  padding: unset !important;
}

.css-1lt5qva-MuiCardContent-root {
  padding: unset !important;
  width: 98%;
}

.section-one-titles {
  color: #a0aec0;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #56577a;
}

.css-1sfzz2f {
  background-color: #e88b02 !important;
}

.progress-high .MuiLinearProgress-bar {
  background-color: #ae0000 !important;
}

.progress-medium .MuiLinearProgress-bar {
  background-color: #e88b02 !important;
}

.progress-low .MuiLinearProgress-bar {
  background-color: #e6e939 !important;
}
