.sidebaar-end-section {
  background-image: url("./assets/Background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.sidebar-item {
  margin-bottom: 0.1rem;
}
.sidebaar-end-section-blue {
  background-image: url("./assets/Background-blue.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.blue-background-image {
  background-image: url(./assets/blue-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
}
