@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Quicksand", serif;
}
body::-webkit-scrollbar {
  width: 4px;
  height: 0px;
}
body::-webkit-scrollbar-track {
  background: #232323;
}
body::-webkit-scrollbar-thumb {
  background: #404040;
  border-radius: 2px;
}
body::-webkit-scrollbar-thumb:hover {
  background: #404040;
}

/* Stylish transparent scrollbar */
.scrollbar::-webkit-scrollbar {
  width: 4px;
  height: 0px;
}
.scrollbar::-webkit-scrollbar-track {
  background: #232323;
}
.scrollbar::-webkit-scrollbar-thumb {
  background: #232323;
  border-radius: 2px;
}
.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #232323;
}

.chat-screen {
  box-shadow: rgba(0, 0, 0) 0px 5px 10px;
}

.shadow-black {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.shadow-white {
  box-shadow: rgba(255, 255, 255, 0.25) 0px 0px 55px;
}

.custom-border .left-border {
  background: linear-gradient(270deg, #fff, #ffffffe6, #fff3, #fff0);
  height: 1px;
}
.custom-border .right-border {
  background: linear-gradient(90deg, #fff, #ffffffe6, #fff3, #fff0);
  height: 1px;
}

@media screen and (max-width: 565px) {
  html {
    font-size: 14px;
  }
}
